.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  perspective: 1200px;
  animation: blurInOut 3s ease-out forwards;
}

.image-wrapper {
  display: flex;
  overflow: hidden;
  transform-style: preserve-3d;
  gap: 10px;
}

.container {
  width: 60px;
  height: 600px;
  background-image: url('/assets/RanchoDec.jpg');
  background-size: 960px 600px;
  background-repeat: no-repeat;
  opacity: 0;
  animation: flyIn 1s ease-out forwards;
}

@keyframes flyIn {
  0% {
    transform: translateZ(-1000px) scale(0.6) rotateY(0deg);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) scale(1);
    opacity: 1;
  }
}

@keyframes blurInOut {
  0% {
    opacity: 1;
    filter: blur(10px);
  }

  50% {
    opacity: 1;
    filter: blur(0);
  }

  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
